body{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
}
p{
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 4%;
  margin: 0;
  padding: 0;
}
h1{
  margin: 0;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  padding: 0;
}
h2{
  margin: 0;
  color: #2E2F42;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
  padding: 0;
}
h3{
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
  padding: 0;
}
ul{
   margin-top: 0;
   margin-bottom: 0;  
   padding-left: 0;
   padding-right: 0;
}
button{
  background-color: #4D5AE5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
a{
  text-decoration: none;
}
link{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
  text-decoration: underline;
}
img{
  display: block
}
.header{
  border-bottom: 1px solid #e7e9fc;
}
.container{
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-nav{
  display: flex;
  align-items: center;
}
.web-studio{ 
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 76px 24px 156px;
  text-decoration: none;
  margin-right: 76px;
}
.studio-text{
  color: #2e2f42;
}
.header-ul{
  display: flex;
  gap: 40px;
  padding: 24px;
  list-style-type: none;
  padding-right: 332px;
}
.add-ul{
  display: flex;
  gap: 40px;
}
.studio-link{
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.studio-link:hover{
  color: #404bbf;
}
.studio-link:focus{
  color: #404bbf;
}
.address{
  font-style: normal;
}
.title-main{
  max-width: 496px;
}
.mailto{
  letter-spacing: 0.02em;
  color: #434455;
}
.mailto:hover{
  color: #404bbf;
}
.mailto:focus{
  color: #404bbf;
}
.effective-solutions{
  background-color: #2E2F42;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  
}
.button-main{
  display: block;
  min-width: 169px;
  height: 56px;
  border: none; 
  border-radius: 4px;
  margin: 48px;
  padding: 16px 32px;
}
.button-main:hover{
  background-color: #404BBF;  
}
.button-main:focus{
  background-color: #404BBF;
}
.about-sel{
  padding: 120px 0;
}
.about-ul{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
  padding-top: 120px;
  padding-bottom: 120px;
}
.strategy-li{
  width: calc((100% - 72px) / 4);
}
.advantages-visually-hidden{
  color: #FFFFFF;
  position: absolute;    
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.strategy-h{
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.body-p{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container-team{
  height: 732px;
}
.our-team-ul{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 232px;
  padding-left: 156px;
}
.our-team-li{
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.person{
  padding: 32px 0;
}
.name{
  text-align: center;
  margin-bottom: 8px;
}
.name-p{
  text-align: center;
}
.our-sec{
  padding-top: 120px; 
  padding-bottom: 120px;
}
.our-team{
  background-color: #F4F4FD;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding: 120px 0;
}
.our-team-text{
  text-align: center;
  padding-top: 120px;
  margin-bottom: 72px;
}

.portfolio-h{
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
  margin-bottom: 72px;
}
.portf-ul{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px; 
  list-style-type: none;
}
.item{
  width: calc((100% - 48px) / 3);
}
.portfolio-h{
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-div{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-p{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer{
  background-color: #2e2f42;
  padding: 100px 0;
}
.portfolio-h2{
  margin-bottom: 72px;
}
.footer-logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.studio-text-footer{
  color: #f4f4fd;
}
.footer-p{
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
}