body{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
  background-color: #ffffff;
}
p{
  margin: 0;
  padding: 0;
}
h1{
  margin: 0;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  padding: 0;
}
h2{
  margin: 0;
  color: #2E2F42;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
  padding: 0;
}
h3{
  font-weight: 500;
  margin: 0;
}
h4, h5, h6{
  margin: 0;
}
ul{
  list-style: none;
   margin-top: 0;
   margin-bottom: 0;  
   padding-left: 0;
   padding-right: 0;
}
button{
  background-color: #4D5AE5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
a{
  text-decoration: none;
  display: inline-block;
}
link{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
  text-decoration: underline;
}
img{
  display: block
}
.header{
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container{
  display: flex;
  align-items: center;
}
.container{
  width: 320px;
  margin: 0 auto;
  padding: 96px 16px;
}
.header-nav{
  display: flex;
  align-items: center;
  margin-right: auto;
}
.web-studio{ 
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.studio-text{
  color: #2e2f42;
}
.header-ul{
  display: flex;
  gap: 40px;
  list-style-type: none;
  align-items: center;
}
.add-ul{
  display: flex;
  gap: 40px;
}
.studio-link{
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  position: relative;
  
}
.studio-link-current{
  position: relative;
  color: #404bbf;
  padding: 24px 0;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.studio-link-current::after{
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.studio-link:hover{
  color: #404bbf;
}
.studio-link:focus{
  color: #404bbf;
}
.address{
  font-style: normal;
}
.title-main{
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.mailto{
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailto:hover{
  color: #404bbf;
}
.mailto:focus{
  color: #404bbf;
}
.effective-solutions{
  background-color: #2E2F42;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}
.button-main{
  display: block;
  min-width: 169px;
  height: 56px;
  border: none; 
  border-radius: 4px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-main:hover{
  background-color: #404BBF;  
}
.button-main:focus{
  background-color: #404BBF;
}
.about-sel{
  /* padding: 120px 0; */
  /* padding: 96px 16px; */
}
.about-ul{
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
}
.strategy-li{
  
  /* width: calc((100% - 72px) / 4); */
}
.icons-strategy{
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.visually-hidden{
  color: #FFFFFF;
  position: absolute;    
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.strategy-h{
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  /* font-weight: 500; */
}
.body-p{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container-team{
  height: 732px;
}
.our-team{
  background-color: #F4F4FD;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /* padding: 120px 0; */
}
.team-container{
  padding-right: 28px;
  padding-left: 28px;
}
.our-team-ul{
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  flex-basis: calc((100% - 72px) / 4);
  list-style: none;
}
.our-team-li{
  width: 100%;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08) ;
}
.person{
  padding: 32px 0;
}
.name{
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}
.name-p{
  text-align: center;
  font-size: 16px;
  margin-bottom: 8px;
}
.person-list{
  display: flex;
  justify-content: center;
  gap: 24px;
}
.person-item{
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.person-link{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.person-link:hover{
  background-color: #404bbf;
}
.person-link:focus{
  background-color: #404bbf;
}
.person-svg{
  fill: #f4f4fd;
}

.our-team-text{
  text-align: center;
  margin-bottom: 72px;
}
.our-sec{
  /* padding-top: 120px;
  padding-bottom: 120px; */
}
.portfolio-hh{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portf-ul{
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
  list-style: none;
}
.item{
  /* width: calc((100% - 48px) / 3); */
  width: 100%;
  padding-left: 0;
  margin: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item:hover .portf-hover-text {
  transform: translateY(0%);
  }
.portf-div-first{
  position: relative;
  overflow: hidden;
}

.portf-hover-text{
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%); 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-hover-text:hover{ 
  transform: translateY(100%);
}
.item:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-h{
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-div{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-p{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(0%);
}
.portfolio-hh{
  margin-bottom: 72px;
}
.footer{
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-box{
  margin-right: 120px;

}
.footer-logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.studio-text-footer{
  color: #f4f4fd;
}
.footer-p{
  font-size: 16px;
  max-width: 264px;
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
}
.footer-box-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.footer-box-list{
  display: flex;
  gap: 16px;
}
.footer-box-item{
  width: 40px;
  height: 40px;
  
}
.footer-box-link{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-box-link:hover{
  background-color: #31d0aa;
}
.footer-box-link:focus{
  background-color: #31d0aa;
}
.footer-svg{
  fill: #f4f4fd;
}
.container-footer{
  display: flex;
  align-items: baseline;
}
.backdrop{
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal{
  position: absolute;
  width: 408px;
  min-height: 584px;
  background-color: #FCFCFC;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #E7E9FC;
   /* margin-bottom: 24px;
  align-self: flex-end;  */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
}
.modal-close:hover{
  background-color: #404bbf;
  border: none; 
  fill: #ffffff;
}
.modal-close:focus{
  background-color: #404bbf;
  border: none;
  fill: #ffffff; 
}
.close-svg{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-title{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.modal-input{
  background-color: #FCFCFC;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 40%);
  outline: transparent;
  padding-left: 38px;
  background-color: transparent; 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-input:focus{
  border-color: #4D5AE5;
  transition-duration: 250ms;
}
.modal-input::placeholder{
  color: #FCFCFC;
}
.modal-label{
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
  display: block; 
}
.modal-field{
  margin-bottom: 8px;
  line-height: 12px;
} 
.modal-icon{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-wrap{
  position: relative;
}
.modal-input:focus + .modal-icon{
  fill: #4D5AE5;
  transition-duration: 250ms;
}
.modal-text{
  background-color: transparent;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 40%);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus{
  border-color: #4D5AE5;
}
.modal-btn{
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check-text{
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
  margin-bottom: 24px;
  line-height: 1.17;
}
.modal-check-text span{
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 40%);
  border-radius: 2px;
  margin-right: 12px; 
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text span{
  background-color: #404BBF;
  border: none;
  fill: #F4F4FD;
}
.modal-field-com{
  margin-bottom: 16px;
  line-height: 12px;
} 
.privat-policy{
  text-decoration: underline;
  padding-left: 3px;
  color: #4d5ae5;
}
.footer-box-third{
  margin-left: 80px;
}
.footer-form{
  display: flex;
  gap: 24px;
}
.email-footer{
  background-color: transparent;
  width: 264px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
}
.email-footer::placeholder{
  color: #ffffff;
}
.footer-button{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #4D5AE5;
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.svg-in-button{
  margin-left: 16px;
}
.modal-field-chek{
  margin-bottom: 24px;
}

/* media */
@media screen and (min-width:768px){
  .container{
    min-width: 768px;
  }
  .about-ul{
    gap: 72px 24px;
  }
  .strategy-li{
    width: calc((100% - 72px) / 2);
  }
  .strategy-h{
    text-align: left;
  }
  .item{
    width: calc((100% - 48px) / 2);
  }
  .our-team-ul{
    gap: 64px 24px;
  }
  .our-team-li{
    width: calc((100% - 48px) / 2);
  }
}
@media screen and (min-width:1158px){
  .container{
    width: 1128px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .strategy-li{
    width: calc((100% - 72px) / 4);
  }
  .icons-strategy{
    display: flex;
  }
  .strategy-h{
    font-weight: 500;
    font-size: 20px;
  }
  .item{
    width: calc((100% - 48px) / 3);
  }
}