body{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
}
p{
  font-weight: 400;
  letter-spacing: 4%;
  margin: 0;
  padding: 0;
}
h1{
  margin: 0;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  padding: 0;
}
h2{
  margin: 0;
  color: #2E2F42;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
  padding: 0;
}
h3{
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2em;
  line-height: 0%;
  padding: 0;
}
ul{
  list-style: none;
   margin-top: 0;
   margin-bottom: 0;  
   padding-left: 0;
   padding-right: 0;
}
button{
  background-color: #4D5AE5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
a{
  text-decoration: none;
  display: inline-block;
}
link{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
  text-decoration: underline;
}
img{
  display: block
}
.header{
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container{
  display: flex;
  align-items: center;
}
.container{
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: baseline;
}
.header-nav{
  display: flex;
  align-items: center;
  margin-right: auto;
}
.web-studio{ 
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.studio-text{
  color: #2e2f42;
}
.header-ul{
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.add-ul{
  display: flex;
  gap: 40px;
}
.studio-link{
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  position: relative;
  color: #404bbf;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-link::after{
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.studio-link:hover{
  color: #404bbf;
}
.studio-link:focus{
  color: #404bbf;
}
.address{
  font-style: normal;
}
.title-main{
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.mailto{
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailto:hover{
  color: #404bbf;
}
.mailto:focus{
  color: #404bbf;
}
.effective-solutions{
  background-color: #2E2F42;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.button-main{
  display: block;
  min-width: 169px;
  height: 56px;
  border: none; 
  border-radius: 4px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-main:hover{
  background-color: #404BBF;  
}
.button-main:focus{
  background-color: #404BBF;
}
.about-sel{
  padding: 120px 0;
}
.about-ul{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
}
.strategy-li{
  width: calc((100% - 72px) / 4);
}
.icons-strategy{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.advantages-visually-hidden{
  color: #FFFFFF;
  position: absolute;    
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.strategy-h{
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.body-p{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container-team{
  height: 732px;
}
.our-team-ul{
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 72px) / 4);
  list-style: none;
}
.our-team-li{
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08) ;
  /* background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.person{
  padding: 32px 0;
}
.name{
  text-align: center;
  margin-bottom: 8px;
}
.name-p{
  text-align: center;
  font-size: 16px;
}
.person-list{
  display: flex;
  justify-content: center;
  gap: 24px;
}
.person-item{
  width: 40px;
  height: 40px;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.person-link{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.person-link:hover{
  background-color: #404bbf;
}
.person-link:focus{
  background-color: #404bbf;
}
.person-svg{
  fill: #f4f4fd;
}
.our-sec{
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-team{
  background-color: #F4F4FD;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding: 120px 0;
}
.our-team-text{
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-hh{
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portf-ul{
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
  list-style: none;
}
.item{
  width: calc((100% - 48px) / 3);
  padding-left: 0;
  margin: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-div-first{
  position: relative;
  overflow: hidden;
}
.portf-hover-text{
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-h{
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-div{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-p{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(0%);
}
.portfolio-hh{
  margin-bottom: 72px;
}
.footer{
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-box{
  margin-right: 120px;

}
.footer-logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.studio-text-footer{
  color: #f4f4fd;
}
.footer-p{
  font-size: 16px;
  max-width: 264px;
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
}
.footer-box-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.footer-box-list{
  display: flex;
  gap: 16px;
}
.footer-box-item{
  width: 40px;
  height: 40px;
  
}
.footer-box-link{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-box-link:hover{
  background-color: #31d0aa;
}
.footer-box-link:focus{
  background-color: #31d0aa;
}
.footer-svg{
  fill: #f4f4fd;

}